
.cart_detail h2{
    margin-bottom: 5px;
}
.cart_detail .rate{
    margin-bottom: 5px;
}

.total_price{
    width: 20%;
    height: 30vh;
    background:$main-color;
    margin: 20px auto;
    padding:15px;
    box-shadow: 0 1px 10px rgb(175, 171, 171);
    border-radius:$main-radius;
}
.total p{
    margin-bottom: 10px;
}